/* Info Carousel Section */
.info-carousel {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.info-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.info-slide .info-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--bg-dark) !important;
}

.info-slide .info-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 800px;
  text-align: center;
}

.info-slide .info-index {
  font-size: 0.9rem;
  color: var(--text-secondary);
  margin-bottom: 1em;
}

.info-slide h2 {
  font-size: 3.5rem;
  line-height: 1.1;
  margin-bottom: 0.5em;
  color: var(--text-light);
}

.info-slide .info-copy {
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--text-secondary);
  font-family: "PP Editorial New", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 900px) {
  .info-slide .info-content {
    width: 90%;
    padding: 0 1em;
  }

  .info-slide h2 {
    font-size: 2rem;
    margin-bottom: 0.75em;
  }

  .info-slide .info-copy {
    font-size: 1rem;
    line-height: 1.5;
  }

  .info-slide .info-index {
    font-size: 0.75rem;
  }
}
