.services h3,
.services p {
  color: var(--text-light);
}

.service {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 0.5em;
  border-top: 1px solid var(--border);
  padding-top: 2em;
  padding-bottom: 4em;
}

.service .line {
  position: relative;
  transform: translateY(20px);
  will-change: transform, opacity;
}

.service .index {
  flex: 1;
}

.service .title {
  flex: 8;
}

.service .copy {
  flex: 4;
}

.service .copy p {
  text-transform: none;
  color: var(--text-secondary);
  font-family: "PP Editorial New";
  font-size: 1rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 900px) {
  .services {
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
  }

  .services .wrapper {
    height: 100%;
    padding: 0.5em;
    padding-top: 3.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .service {
    flex-direction: column;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    gap: 0.15em;
  }

  .service .index {
    display: block;
  }

  .service .index p {
    font-size: 0.75rem;
    color: var(--text-secondary);
  }

  .service .title h3 {
    font-size: 1.25rem;
  }

  .service .copy p {
    font-size: 0.9rem;
  }
}
